body{
    background:  url("https://th.bing.com/th/id/R.95eeb202f5ba1154ef3602c6407a7450?rik=%2bHFkVkQ31vs4PA&pid=ImgRaw&r=0");
    background-size: cover; 
}
input[type=text]{
    font: 150% Segoe UI;
    width: 50%;
    height: 40px;
    font-size: 16px;
    border: none;
    background: none;
    outline: none;
    border-bottom: 2px solid #adadad;
    margin: 0px 40px;
    
}
button{
    font: 100% Segoe UI;
    border: #ffcc00 1px solid;
    cursor:pointer;
    margin: 15px 100px;
    width:10%;
    height: 50px;
    border-radius: 25px;
    font-size: 18px;
    background:#ffcc00;
    font-weight: 700;
    outline: none;
    color:#ffffff;
    width: 110px;
}
button[id=boton]{
    margin: 10px 20px;
}
label[class=principal]{text-align:left;
      width:2000px ;
      float:left;
      margin: 15px 40px;
      font: 120% Segoe UI;
      color:black;
}
select{
    font: 100% Segoe UI;
    border: #1f53c5 1px solid;
    cursor:pointer;
    margin: 15px 30px;
    width: 10%;
    height: 50px;
    border-radius: 25px;
    font-size: 18px;
    background:#1f53c5;
    font-weight: 700;
    outline: none;
    text-align:center;
    color:#ffffff;
    width: 200px;
}

div[id=div_1]{
    margin: 50px 50px;
    width: 600px;
    height: 750px;
    background:chocolate;
    border-radius: 10px;
}
div[id=div_0]{
    background: white;
    border-radius: 10px;
    margin: 0px 100px;
    width: 300px;
    height: 500px;
}
div[id=div_11]{
    margin: 15px 40px;
    font: 120% Segoe UI;
}
label {text-align:left;
      width:150px ;
      float:left;
      font: 120% Segoe UI;
      color:#666666;
}
table{
    margin: 15px 30px;
    text-align:left;
    border-collapse: collapse;
}
th,td{
    padding:20px;
}
thead{
    background-color: #246355;
    border-bottom: solid 5px #0F362D;
}