body{
    background:  url("https://img.freepik.com/foto-gratis/mercado-de-compras-en-el-fondo-borroso_51764-11.jpg?size=626&ext=jpg");
    background-size: cover; 
}
input[type=text]{
    font: 150% Segoe UI;
    width: 50%;
    height: 40px;
    font-size: 16px;
    border: none;
    background: none;
    outline: none;
    border-bottom: 2px solid #adadad;
    margin: 0px 40px;
    color:#adadad;
}
button{
    font: 100% Segoe UI;
    border: #006666 1px solid;
    cursor:pointer;
    margin: 15px 100px;
    width:10%;
    height: 50px;
    border-radius: 25px;
    font-size: 18px;
    background:#006666;
    font-weight: 700;
    outline: none;
    color:#ffffff;
    width: 110px;
}
button[id=boton]{
    margin: 10px 20px;
}
label{text-align:left;
      width:2000px ;
      float:left;
      margin: 15px 40px;
      font: 120% Segoe UI;
      color:black;
}
select{
    font: 100% Segoe UI;
    border: #666600 1px solid;
    cursor:pointer;
    margin: 15px 30px;
    width: 10%;
    height: 50px;
    border-radius: 25px;
    font-size: 18px;
    background:#666600;
    font-weight: 700;
    outline: none;
    text-align:center;
    color:#ffffff;
    width: 200px;
}

div[id=div_1]{
    margin: 50px 50px;
    width: 600px;
    height: 750px;
    background:chocolate;
    border-radius: 10px;
}
div[id=div_0]{
    background: white;
    border-radius: 10px;
    margin: 0px 100px;
    width: 300px;
    height: 500px;
}